@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --brown: #6e2f15;
  --white: #fff;
  --ivory: #ecd5bb;
  --lightblue: #eaf3fa;
  --green: #013a20;
  --black: #000;
}
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Inter",sans-serif; */
  letter-spacing: 0.8px;
  /* font-family: "Work Sans"; */
  background: #fffef8;
  color: var(--black);
  font-size: 1em;
  /* margin: 0; */

  max-width: 1920px;
  /* height: 100vh; */

  margin: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  height: 100%;
  position: relative;
}
.container {
  min-height: 100%;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;

  padding: 20px;

  max-width: 1061px;
  /* max-width: 1024px; */
  margin-right: auto;
  margin-left: auto;

  padding-block: 30px;
  width: 90%;
  /* max-width: 1240px; */
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
}
.header_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
header img {
  border-radius: 50%;
  height: 50px;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: var(--brown);
}
h1 span {
  font-family: "Work Sans";
  font-size: 13px;
  letter-spacing: 0.1em;
}
nav ul {
  display: flex;
  align-items: center;
  /* gap: 22px; */
  margin-bottom: 0;
  gap: 57px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  /* padding: 8px 17px 8px 17px; */
  /* font-size: 1.2em; */
  /* font-weight: 500; */
}
nav a.focus {
  text-transform: uppercase;
  font-weight: bold;
}
nav a.focus:hover {
  /* color: var(--white);
  background: linear-gradient(to bottom, transparent, black);
  border-radius: 15px;
  padding: 5px 12px 5px 12px;
  text-align: center;
  font-weight: 600; */
  color: var(--brown);
  padding-bottom: 5px;
  border-bottom: 2px solid var(--brown);
}
main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  padding-bottom: 40px;
  /* padding-bottom: 200px; */
  position: relative;
}

#about {
  background: var(--ivory);
  display: flex;
  justify-content: space-around;

  /* gap: 25px; */

  padding: 27px;

  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;

  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}
.about_screen img {
  height: 218px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
}
#about article {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#about h2 {
  margin: 0;
}
/* .underline {
  display: none;
} */
.title {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: var(--green);
}
.soft-skills .tag {
  /* border: 1px solid #000; */
  background: var(--white);
  border-radius: 8px;
  padding: 3px 11px 3px 11px;
}
/* .title h2 {
  border-bottom: 2px solid var(--green);
  padding-bottom: 20px;
} */
.center {
  display: flex;
  justify-content: center;
  /* font-size: 20px; */
}
#skills {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
#skills .skills_list {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(to top, transparent,#ecd5bb); */
}
#skills .skills_list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
#skills .skills_list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;

  /* background: linear-gradient(to top, transparent, #ecd5bb); */

  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
  /* box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25); */

  padding: 5px;
  width: 100%;
  height: 73px;
  border-radius: 10px;
}
#skills .skills_list ul li i {
  font-size: 2.5em;
}
.canva {
  height: 40px;
  width: 100%;
  object-fit: contain;
}
/* #portfolio::after {
  content: "";
  width: 30%;
} */
.hide {
  display: none;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 23px;
}
.filters-button {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: #fffef8;
  /* text-decoration: none; */
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  height: 37px;
  /* text-align: center; */
  border-radius: 60px;
  border: 1px solid #1d6154;
  max-width: 216px;

  font-size: 1em;
  width: fit-content;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn-selected {
  color: #fffef8;
  background-color: #1d6154;
}
.filters-button:hover,
.arrowUp:hover {
  color: #fffef8;
  background-color: #1d6154;
  cursor: pointer;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background: var(--lightblue);
  /* background: linear-gradient(to bottom, transparent, black); */
  /* background: #aeada9; */
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;

  /* margin-bottom: 40px; */

  padding: 30px;
}
.gallery::after {
  content: "";
  width: 63%;
}
.gallery a {
  position: relative;
  /* background: var(--brown); */
  /* background: var(--ivory); */
  /* background: linear-gradient(to bottom, transparent, black);  */

  height: 340px;
  /* height: 300px; */
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  /* width: 300px; */
  display: flex;
  flex-wrap: wrap;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.gallery a:hover {
  transform: scale(1.04);
}
.gallery figure {
  position: relative;
  top: 0;
  margin: 0;
  width: 100%;
}
.gallery figure span {
  color: #008766;
  font-size: 0.875em;
  font-weight: 500;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); */
  background: #99e2d0;
  border-radius: 10px;
  position: absolute;
  top: 201px;
  right: 15px;
  /* width: 80px; */
  /* height: 29px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px 8px 5px 8px;
}

.gallery_image {
  object-fit: fill;
  height: 215px;
  width: 100%;
  max-width: 350px;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gallery figcaption {
  margin: 0;
  padding: 5px 10px 10px 10px;
  background: linear-gradient(to bottom, transparent, black); 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* position: absolute;
  bottom: 0px;

  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  max-width: 280px;

  width: 100%;
  font-weight: 600;
  color: var(--white);
  background: linear-gradient(to bottom, transparent, black); */
}
.gallery figcaption h3.project_title {
  color: #000;
  font-size: 1.125em;
  font-weight: 700;
  margin: 0;
}
.gallery figcaption p.project_description {
  color:var(--white);
  font-size: 0.95em;
  font-weight: 300;
  margin-top: 0px;
  padding-bottom: 5px;
}
.gallery figcaption span{
  font-size: 0.85em;
  color: var(--white);
  display: flex;
  justify-content: right;
}
.project_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0; /* Masqué par défaut */
  transition: opacity 0.5s ease; /* Transition douce */
  background-color: rgba(
    0,
    140,
    186,
    0.85
  ); /* Couleur légèrement transparente */
  border-radius: 10px;
}

.gallery a:hover .project_overlay {
  opacity: 1; /*Afficher lors du hover*/
}
/* Rendre .project_view invisible lorsqu'on survole le lien <a> */
.gallery a:hover .project_view {
  opacity: 0;
  transition: opacity 0.5s ease; /* Pour un effet de fondu */
}

/* Ne pas affecter la visibilité de .project_view en temps normal */
.project_view {
  opacity: 1;
  transition: opacity 0.5s ease; /* Pour un effet de fondu en sortie */
}

.project_details {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-align: center; */
  text-align: left;
  width: 90%;
}
/* .project_details a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
} */
/* .project_details .specific-link {
  position: relative;
  z-index: 10;
  pointer-events: auto; 
} */
.project_details .text {
  font-size: 15px;
}
.training_container {
  display: flex;
  justify-content: space-around;
}
.training_container article {
  background: var(--ivory);
  border-radius: 25px;
  width: 100%;
  max-width: 360px;
  padding-left: 22px;
}
.pageUp {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  margin-top: 20px;

  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
/* .textUp {
  font-size: 0.65em;
  } */
.arrowUp {
  border-radius: 30px;
  padding: 16px;
  border: 3px solid #1d6154;
  color: #1d6154;
  background-color: #fffef8;
  /* text-decoration: none; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  /* color: var(--white); */
  /* background: linear-gradient(to bottom, transparent, black); */
  /* font-weight: bolder; */
}
/* .arrowUp:hover {
    /* transform: scale(1.04); */
/* color: var(--black); */
/* } */
/* .arrowUp:hover {
  color: #c3f0c6 ;
} */

footer {
  color: var(--white);
  background: var(--brown);

  /* margin: 0; */
  width: 100%;
  position: absolute;
  /* bottom: 0; */
  /* bottom: -613%; */
  /* height: 200px; */

  display: flex;
  align-items: center;
}
footer h2 {
  color: var(--white);
  padding-top: 8px;
}
footer #contact {
  width: 100%;
}
/* .footer_infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */
footer ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
}
footer ul li {
  margin-bottom: 25px;
  /* display: flex; */
  /* justify-content: space-around; */
  /* width: 100%; */

  /* gap: 20px; */
  /* justify-content: space-between; */
}
/* .mail,
.hoverGreen {
  border-bottom: 2px solid var(--brown);
} */
footer .hoverGreen:hover {
  color: rgb(132, 255, 0);
  border-bottom: 2px solid rgb(132, 255, 0);
  padding-bottom: 5px;
  cursor: pointer;
}
.footer_infos {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
footer .informations {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  /* max-width: 592px; */
}
/* footer span {
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: var(--white);
} */
.footer_logo {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  /* gap: 20px; */
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 45px;
  margin-left: 56px;
  max-width: 220px;
}
.footer_me {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer img {
  border-radius: 50%;
  height: 50px;
}
.footer_logo p {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: var(--white);
}
.footer_logo span {
  font-family: "Work Sans";
  font-size: 13px;
  letter-spacing: 0.1em;
}

@media (max-width: 1024px) {
  .title {
    font-size: 25px;
  }
  #about {
    padding: 15px 20px 15px 20px;
  }
  .filters {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 0;

    /* padding-block: 30px; */
    margin: 0;
    width: 100%;
  }
  .header_logo {
    gap: 13px;
  }
  .header_logo img {
    height: 44px;
  }
  .header_logo h1 {
    font-size: 17px;
  }
  .header_logo span {
    font-size: 12px;
  }
  header nav ul {
    width: 100%;
    gap: 36px;
    padding-left: 0;
  }
  header nav ul li a {
    text-transform: uppercase;
    font-size: 0.65em;
  }
  main {
    width: 100%;
  }
  #about {
    border-radius: 0;
    flex-direction: column;
    align-items: center;

    margin: 0;
    /* padding: 0; */
    padding: 20px 0 20px 0;
    height: fit-content;
  }
  #about article {
    align-items: center;
  }
  .title {
    font-size: 15px;
    font-weight: 717;
    /* text-decoration: underline; */
  }
  .underline {
    /* display: block; */
    text-decoration: underline;
  }
  #about article p {
    font-size: 0.65em;
    padding-left: 21px;
  }
  #skills .skills_list ul {
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    gap: 3px;
    justify-content: flex-start;
  }
  #skills .skills_list ul li {
    width: 21%;
  }
  #skills .skills_list ul li i {
    font-size: 1.95em;
  }
  #skills .skills_list ul li span {
    font-size: 0.65em;
  }
  .canva {
    height: 33px;
  }

  #portfolio .filters {
    display: none;
  }
  #portfolio .center {
    flex-direction: column;
    align-items: center;
    padding-bottom: 23px;
  }
  #portfolio h3 {
    display: block;

    font-size: 0.75em;
    font-weight: normal;
  }
  #portfolio .selectContainer {
    display: block;
  }
  #portfolio .selectContainer select {
    font-family: "Syne";
    /* font-family: "Work Sans"; */
    font-size: 0.85em;
    font-weight: 560;
    text-align: center;

    border-radius: 20px;
    padding: 7px 10px 7px 10px;

    color: var(--green);
    width: 200px;

    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    /* border: 1px solid var(--green); */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    cursor: pointer;
  }

  select > option {
    background-color: var(--white);
    color: var(--green);

    font-family: "Syne";
    /* font-family: "Verdana"; */
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.5em;
  }

  /* #portfolio .filters {
    flex-wrap: wrap;
  }
  #portfolio .filters-button {
    font-size: 0.65em;
    width: 125px;
    justify-content: center;
    width: 29%;
  } */
  .pageUp {
    width: 90%;
  }
  /* .arrowUp{
    padding: 4.5%;
  } */
  footer {
    /* flex-direction: column; */
    height: fit-content;
  }
  footer #contact {
    display: flex;
    flex-direction: column;
  }
  /* #contact h2{
    text-decoration: none;
  } */
  /* #contact .footer_infos {
    flex-direction: column;
    display: flex;
  } */
  #contact .footer_infos .informations {
    flex-direction: column;
    align-items: center;
  }
  .footer_logo {
    gap: 13px;
    margin-left: 0px;
    margin-bottom: 45px;
  }
  .footer_infos .informations ul {
    flex-direction: column;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 123px;
  }
  .footer_me img {
    height: 44px;
  }
  .footer_me p {
    font-size: 17px;
  }
  .footer_me span {
    font-size: 12px;
  }
}
/* .header_logo img {
    height: 44px;
  }
  .header_logo h1 {
    font-size: 17px;
  }
  .header_logo span {
    font-size: 12px;
  } */
