@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --brown: #6e2f15;
  --white: #fff;
  --ivory: #ecd5bb;
  --lightblue: #eaf3fa;
  --green: #013a20;
  --black: #000;
}
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.8px;
  background: #fffef8;
  color: var(--black);
  font-size: 1em;
  max-width: 1920px;
  margin: 0;
  height: 100%;
  position: relative;
}
.container {
  min-height: 100%;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;

  padding: 20px;

  max-width: 1061px;
  margin-right: auto;
  margin-left: auto;

  padding-block: 30px;
  width: 90%;
  position: relative;
}
.header_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
header img {
  border-radius: 50%;
  height: 50px;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: var(--brown);
}
h1 span {
  font-family: "Work Sans";
  font-size: 13px;
  letter-spacing: 0.1em;
}
nav ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 57px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
nav a.focus {
  text-transform: uppercase;
  font-weight: bold;
}
nav a.focus:hover {
  color: var(--brown);
  padding-bottom: 5px;
  border-bottom: 2px solid var(--brown);
}
main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  padding-bottom: 40px;
  position: relative;
}

#about {
  background: var(--ivory);
  display: flex;
  justify-content: space-around;

  padding: 27px;

  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;

  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
}
.about_screen img {
  height: 218px;
  border-radius: 50%;
}
.about_container {
  padding-left: 20px;
}
#about article {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#about h2 {
  margin: 0;
}
.title {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: var(--green);
}
.soft-skills .tag {
  background: var(--white);
  border-radius: 8px;
  padding: 3px 11px 3px 11px;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#skills {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
#skills .skills_list {
  display: flex;
  justify-content: center;
}
#skills .skills_list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
#skills .skills_list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
  width: 100%;
  height: 73px;
  border-radius: 10px;
}
#skills .skills_list ul li i {
  font-size: 2.5em;
}
.list_tag{
  padding-top: 20px;
  display: flex;
  gap: 4%;
  justify-content: flex-start;
}
.canva {
  height: 40px;
  width: 100%;
  object-fit: contain;
}
.hide{
  display: none;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 23px;
}
.filters-button {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: #fffef8;
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  height: 37px;
  border-radius: 60px;
  border: 1px solid #1d6154;
  max-width: 216px;

  font-size: 1em;
  width: fit-content;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn-selected {
  color: #fffef8;
  background-color: #1d6154;
}
.filters-button:hover,
.arrowUp:hover {
  color: #fffef8;
  background-color: #1d6154;
  cursor: pointer;
}

.dropdown-button {
  background-color: var(--green);
  color: var(--white);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.dropdown-list li.active {
  background-color: var(--green);
  color: var(--white);
}
.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: var(--white);
  position: absolute;
  width: fit-content; 
  z-index: 100;
  border-radius: 13px;
}

.dropdown-list li {
  padding: 12px 16px;
  cursor: pointer;
}
.dropdown-list li:hover {
  background-color:var(--green);
  color: var(--white);
  outline: none;
}

.dropdown-button {
  position: relative;
  padding-right: 24px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.button-content {
  display: flex;
  align-items: center;
}

.button-text {
  margin-right: 8px;
}

#dropdownArrow {
  font-size: 12px;
  transition: transform 0.3s ease; /* Animation de rotation */
}

.rotate {
  transform: rotate(180deg);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background: var(--lightblue);
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 30px;
}
.gallery::after {
  content: "";
  width: 63%;
}
.gallery a {
  position: relative;
  background: grey;

  width: 100%;
  max-width: 317px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.gallery a:hover {
  transform: scale(1.04);
}
.gallery figure {
  position: relative;
  top: 0;
  margin: 0;
  width: 100%;
}
.gallery figure span {
  color: var(--white);
  font-size: 0.875em;
  font-weight: 500;
  background: var(--green);
  border-radius: 10px;
  position: absolute;
  top: 201px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px 8px 5px 8px;
}

.gallery_image {
  object-fit: fill;
  height: 215px;
  width: 100%;
  max-width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gallery figcaption {
  margin: 0;
  padding: 5px 10px 10px 10px;
  background: linear-gradient(to bottom, transparent, black); 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 108px;
}
.gallery figcaption h3.project_title {
  color: var(--black);
  font-size: 1.125em;
  font-weight: 700;
  padding-top: 9px;
  margin: 0;
}
.gallery figcaption p.project_description {
  color:var(--white);
  font-size: 0.95em;
  font-weight: 300;
  margin-top: 0px;
  padding-bottom: 5px;
  justify-content: flex-start;
  padding-top: 5px;
}
.gallery figcaption p{
  font-size: 0.85em;
  color: var(--white);
  display: flex;
  justify-content: right;
}
.project_content {
  width: 100%;
}
.project_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0; 
  transition: opacity 0.5s ease; 
  background-color: rgba(0,140,186,0.85); 
  border-radius: 10px;
}

.gallery a:hover .project_overlay {
  opacity: 1;
}
.gallery a:hover .project_view {
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.project_view {
  opacity: 1;
  transition: opacity 0.5s ease; 
}

.project_details {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  width: 90%;
}
.project_details h4{
  margin-bottom: -23px;
  margin-top: 0px;
}
.competences_list,
.technologies_list{
  list-style: inside;
  font-size: 0.8em;
  padding: 1px;
  padding-top: 0.7em;
}
.competences_list li,
.technologies_list li{
  padding: 2px;
}
.training_container {
  display: flex;
  justify-content: space-around;
}
.training_container article {
  background: var(--ivory);
  border-radius: 25px;
  width: 100%;
  max-width: 360px;
  padding-left: 22px;
}
.pageUp {
  display: inline-block; 
  margin-top: 20px;
  margin-left: 96%;
  margin-right: 0; 
}

.arrowUp {
  border-radius: 30px;
  padding: 16px; 
  border: 3px solid var(--green);
  color: var(--green);
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer; 
}


footer {
  color: var(--white);
  background: var(--brown);
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}
footer h2 {
  color: var(--white);
  padding-top: 8px;
}
footer #contact {
  width: 100%;
}
footer ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
}
footer ul li {
  margin-bottom: 25px;
}
footer .hoverGreen:hover {
  color: rgb(132, 255, 0);
  border-bottom: 2px solid rgb(132, 255, 0);
  padding-bottom: 5px;
  cursor: pointer;
}
.footer_infos {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
footer .informations {
  display: flex;
  width: 100%;
}
.footer_logo {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  align-items: center;
  margin-bottom: 45px;
  margin-left: 56px;
  max-width: 220px;
}
.footer_me {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer img {
  border-radius: 50%;
  height: 50px;
}
.footer_logo p {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: var(--white);
}
.footer_logo span {
  font-family: "Work Sans";
  font-size: 13px;
  letter-spacing: 0.1em;
}
/* .footer_mail {
  position: relative;
  display: flex;
  gap: 5px;
} */

/* .tooltip-text {
  visibility: hidden;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  font-size: 12px;
}

#copyIcon:hover ~ .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.footer .informations ul li.fa-regular.fa-copy{
  cursor: pointer;
} */

/** Media queries **/
@media (max-width: 1024px) {
  .title {
    font-size: 25px;
  }
  #about {
    padding: 15px 20px 15px 20px;
  }
  .filters {
    flex-wrap: wrap;
  }
  /* .footer_mail{
    display: inline;
  } */
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 0;

    margin: 0;
    width: 100%;
  }
  .header_logo {
    gap: 13px;
  }
  .header_logo img {
    height: 44px;
  }
  .header_logo h1 {
    font-size: 17px;
  }
  .header_logo span {
    font-size: 12px;
  }
  header nav ul {
    width: 100%;
    gap: 10px;
    padding-left: 0;
    font-size: 0.85em;
  }
  header nav ul li a {
   font-size: 0.63em;
  }
  main {
    width: 100%;
  }
  #about {
    border-radius: 0;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 20px 0 20px 0;
    height: fit-content;
  }
  .about_screen img{
    height: 108px;
  }
  #about article {
    align-items: center;
    gap: 10px;
    padding-left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }
  .title {
    font-size: 15px;
    font-weight: 717;
  }
  .underline {
    text-decoration: underline;
  }
  .soft-skills .tag{
    font-size: 0.65em;
  }
  #about article p {
    font-size: 0.70em;
    padding-left: 21px;
  }
  #skills .skills_list ul {
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    gap: 3px;
    justify-content: flex-start;
  }
  #skills .skills_list ul li {
    width: 21%;
    font-size: 0.85em;
  }
  #skills .skills_list ul li i {
    font-size: 1.95em;
  }
  #skills .skills_list ul li span {
    font-size: 0.65em;
  }
  .list_tag{
    display: inline;
  }
  .canva {
    height: 33px;
  }

  #portfolio .filters {
    display: none;
  }
  #portfolio .center {
    flex-direction: column;
    align-items: center;
    padding-bottom: 23px;
  }
  #portfolio h3 {
    display: block;

    font-size: 0.93em;
    font-weight: 600;
  }
  #portfolio .selectContainer {
    display: block;
  }
  #portfolio .selectContainer select {
    font-family: "Syne";
    font-size: 0.85em;
    font-weight: 560;
    text-align: center;

    border-radius: 20px;
    padding: 7px 10px 7px 10px;

    color: var(--green);
    width: 200px;

    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .project_description{
    font-size: 0.75em;
  }
  a.pageUp {
    margin-left: 80%;
  }
  .training_container{
    justify-content: space-around;
  }
  .gallery{
    background: var(--white);
  }
  .training_container article {
    width: 40%;
    height: 114px;
  }
  .training_container article h3{
    font-size: 0.85em;
  }
  .training_container article h4{
    font-size: 0.75em;
  }
  .training_container article p{
    font-size: 0.75em;
  }
  footer {
    height: fit-content;
  }
  footer #contact {
    display: flex;
    flex-direction: column;
  }
  #contact .footer_infos .informations {
    flex-direction: column;
    align-items: center;
  }
  .footer_logo {
    gap: 13px;
    margin-left: 0px;
    margin-bottom: 45px;
  }
  .footer_infos .informations ul {
    flex-direction: column;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 123px;
  }
  .footer_me img {
    height: 44px;
  }
  .footer_me p {
    font-size: 17px;
  }
  .footer_me span {
    font-size: 12px;
  }
  /* .footer_mail{
    display: none;
  } */
}
